
.page-placeholder{
    background:#f1f1f1;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
    margin:20px;
    text-align:center;
    font-family:'Segoe UI', sans-serif;
}

.page-placeholder h1{
    color:#941C04;
    margin-bottom:15px;
}

.page-placeholder p{
    font-size:18px;
    color:#444;
}
